/*  your css code here. If applicable */
h1{
	text-align:center;
}
.middle{
   border:1px inset rgb(0, 0, 0);
	Spacing: 1px; 
	Padding: 1px;
	width:100%;
	margin-bottom:50px;
	border-collapse: collapse;
}

.center{
	text-align:center;
}
.right{
	text-align:right;
}

#cell1{
	background-color:green;
	padding:10px;
}
#cell2{
	background-color:blue;
	padding:10px;
}
#t-image{
	text-align:center;
}